* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin-left: 1%;

}

.screen {
    display: block;
    background-color: black;
    color: white;
    width: 500px;
    height: 60px;
    text-align: right;
    font-size: 40px;
    padding-top: 20px;
    margin-top: 1%;
    padding-right: 10px;
}

.buttons {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 540px;
    background-color: black;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    align-content: stretch;
}

.btn {
    width: 125px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.282);
    color: white;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.btn:last-child {
    background-color: #ff9500;
    color: white;
}

.btn:last-child:hover {
    background-color: #ff9500;
    color: black;
}

.btn:hover {
    background-color: #a4a09a;
    color: white;
}

.zero {
    width: 375px;
}

.clear {
    width: 250px;
}